# Data Acquisition in Python

---

### Essential Libraries

Let us begin by importing the essential Python Libraries.

> NumPy : Library for Numeric Computations in Python  
> Pandas : Library for Data Acquisition and Preparation

In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import xlrd
import lxml

---

### Pandas Dataframe

The `pandas` library in Python offers an amazing data structure for data science -- the `DataFrame`.    
It is pretty close to a `dictionary`, and we will start by creating a `DataFrame` from `dictionary`.

In [ ]:
canteens_dict = {"Name" : ["North Spine", "Koufu", "Canteen 9", "North Hill", "Canteen 11"],
                 "Stalls" : [20, 15, 10, 12, 8],
                 "Rating" : [4.5, 4.2, 4.0, 3.7, 4.2]
                }

canteens_df = pd.DataFrame(canteens_dict)
canteens_df

It is super simple to access the columns of the `DataFrame` -- directly use the column names.

In [ ]:
canteens_df["Name"]

You may also extract a single record or row from a `DataFrame` -- use `iloc` with the index.

In [ ]:
canteens_df.iloc[0]

Thus, a Pandas `DataFrame` is really like a table, with structured data accessible in two ways.

---

### Import CSV file into a DataFrame

If the dataset is in a standard CSV format (flat file), we may use the `read_csv` function from Pandas.

In [ ]:
csv_data = pd.read_csv('data/somedata.csv', header = None)
csv_data.head()

In [ ]:
print("Data type : ", type(csv_data))
print("Data dims : ", csv_data.shape)

---

### Import TXT file into a DataFrame

If the dataset is in a standard TXT format (flat file), we may use the `read_table` function from Pandas.

In [ ]:
txt_data = pd.read_table('data/somedata.txt', sep = "\s+", header = None)
txt_data.head()

In [ ]:
print("Data type : ", type(txt_data))
print("Data dims : ", txt_data.shape)

---

### Import XLS file into a DataFrame

If the dataset is in a Microsoft XLS or XLSX format, we may use the `read_excel` function from Pandas.    
However, to use the `read_excel` function, you will need to install the `xlrd` module using Anaconda.

In [ ]:
xls_data = pd.read_excel('data/somedata.xlsx', sheet_name = 'Sheet1', header = None)
xls_data.head()

In [ ]:
print("Data type : ", type(xls_data))
print("Data dims : ", xls_data.shape)

---

### Import JSON file into a DataFrame

If the dataset is in a standard JSON format, we may use the `read_json` function from Pandas.

In [ ]:
json_data = pd.read_json('data/somedata.json')
json_data.head()

In [ ]:
print("Data type : ", type(json_data))
print("Data dims : ", json_data.shape)

---

### Import HTML table into a DataFrame

If the dataset is in a table formal within an HTML website, we may use the `read_html` function from Pandas.    
Let's try to get the Cast of Kung-Fu Panda : http://www.imdb.com/title/tt0441773/fullcredits/?ref_=tt_ov_st_sm

In [2]:
html_data = pd.read_html('http://www.imdb.com/title/tt0441773/fullcredits/?ref_=tt_ov_st_sm')

In [3]:
print("Data type : ", type(html_data))
print("HTML tables : ", len(html_data))

Data type :  <class 'list'>
HTML tables :  24

In [4]:
html_data[2].head()

     0               1    2                 3
0  NaN             NaN  NaN               NaN
1  NaN      Jack Black  ...        Po (voice)
2  NaN  Dustin Hoffman  ...     Shifu (voice)
3  NaN  Angelina Jolie  ...   Tigress (voice)
4  NaN     Ian McShane  ...  Tai Lung (voice)