## Exercise 3

### Problem 1 : Analysis of Numeric Variables 
Extract the following Numeric variables from the dataset, and store as a new Pandas DataFrame.  
houseNumData = pd.DataFrame(houseData[['LotArea', 'GrLivArea', 'TotalBsmtSF', 'GarageArea', 'SalePrice']])  
 
    a) Check the individual statistical description and visualize the statistical distributions of each of these variables.  
    b) Comment if the distributions look like “Normal Distribution”, or different. Use the .skew() method to find the  
    “skewness” of each of the five distributions. Which of the variables has the maximum number of outliers?  
    c) Check the relationship amongst the variables using mutual correlation and the correlation heatmap. Comment  
    which of the variables has the strongest correlation with “SalePrice”. Is this useful in predicting “SalePrice”?  
    d) Check the relationship amongst the variables using mutual jointplots and an overall pairplot. Comment which of  
    the variables has the strongest linear relation with “SalePrice”. Is this useful in predicting “SalePrice”?

#### Import all the needed libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

#### a) Check the individual statistical description and visualize the statistical distributions of each of these variables.

In [6]:
houseData = pd.read_csv('train.csv')
display(houseData.head(10))
display(houseData.sample(10))

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
371,372,50,RL,80.0,17120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2008,WD,Normal,134432
1314,1315,20,RL,60.0,8190,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2007,WD,Normal,119000
1275,1276,90,RL,95.0,11345,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2007,WD,Normal,137000
928,929,20,RL,NaN,11838,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,236500
481,482,20,RL,72.0,11846,Pave,NaN,IR1,HLS,AllPub,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,374000
434,435,180,RM,21.0,1890,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,81000
1164,1165,80,RL,NaN,16157,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,194000
1429,1430,20,RL,NaN,12546,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2007,WD,Normal,182900
480,481,20,RL,98.0,16033,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2006,WD,Normal,326000
980,981,85,RL,NaN,12122,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2008,WD,Normal,178400

In [5]:
houseNumData = pd.DataFrame(houseData[['LotArea', 'GrLivArea', 'TotalBsmtSF', 'GarageArea', 'SalePrice']])  
display(houseNumData.head(10))
display(houseNumData.sample(10))

   LotArea  GrLivArea  TotalBsmtSF  GarageArea  SalePrice
0     8450       1710          856         548     208500
1     9600       1262         1262         460     181500
2    11250       1786          920         608     223500
3     9550       1717          756         642     140000
4    14260       2198         1145         836     250000
5    14115       1362          796         480     143000
6    10084       1694         1686         636     307000
7    10382       2090         1107         484     200000
8     6120       1774          952         468     129900
9     7420       1077          991         205     118000

      LotArea  GrLivArea  TotalBsmtSF  GarageArea  SalePrice
1026     9300       1264         1268         461     167500
1        9600       1262         1262         460     181500
1246     8125       1553          756         615     186500
628     11606       2080         1040         504     135000
1404    10410       1214          672         936     105000
110      9525       1855          994         325     136900
882      9636       1593          808         389     178000
247     11310       1375         1367         451     140000
658     17503       1458          912         330      97500
806      9750        980          980         384     135500

#### b) Comment if the distributions look like “Normal Distribution”, or different. Use the .skew() method to find the  
#### “skewness” of each of the five distributions. Which of the variables has the maximum number of outliers?

In [9]:
houseNumData.skew()

LotArea        12.207688
GrLivArea       1.366560
TotalBsmtSF     1.524255
GarageArea      0.179981
SalePrice       1.882876
dtype: float64

#### c) Check the relationship amongst the variables using mutual correlation and the correlation heatmap. Comment  
#### which of the variables has the strongest correlation with “SalePrice”. Is this useful in predicting “SalePrice”?

#### d) Check the relationship amongst the variables using mutual jointplots and an overall pairplot. Comment which of  
####     the variables has the strongest linear relation with “SalePrice”. Is this useful in predicting “SalePrice”?